version: '3'

services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: to-do-list
    ports:
      - "4500:4500"
    volumes:
      - "/usr/app/node_modules"
      - "./:/usr/app"